<div class="header">
    <div class="logo" [routerLink]="[ '/' ]">
        <img src="../../../assets/logo.svg" alt="">
    </div>

    <div class="product">
        <div class="product__category" [routerLink]="[ '/action' ]"
            routerLinkActive="route-active">
            <img src="../../../assets/nav-img-gift.svg" alt="">
            <p>Акції</p>
        </div>
        <div class="product__category" *ngFor="let category of headerCategory"
            [routerLink]="[ '/product/'+ category.path ]"
            routerLinkActive="route-active">
            <img [src]="category.imagePath" alt="">
            <p>{{category.name}}</p>
        </div>
    </div>
    <div class="menu" (click)="menuPop()">&#9776;
        <div class="header-menu" *ngIf="menu">
            <div class="header-menu__close">
                <i class="uil uil-multiply"></i></div>
            <ul>
                <li class="header-menu__li"><a [routerLink]="[ '/delivery' ]">Доставка
                        та оплата</a></li>
                <li class="header-menu__li"><a [routerLink]="[ '/about' ]">Про
                        нас</a></li>
                <li class="header-menu__li"><a [routerLink]="[ '/action' ]">Акції</a></li>
            </ul>
        </div>
    </div>

    <button class="open-popup"><img width="20px" src="../../../assets/phone.svg"
            alt=""> МИ ЗАТЕЛЕФОНУЕМО</button>
    <div class="header-phone">
        <p class="header-phone__num">(097) 878 08 07</p>
        <p><span class="header-phone__text">Працюємо з </span><span> 11:00
            </span><span class="header-phone__text"> до </span><span> 21:30</span></p>
    </div>
    <div class="header-user" [routerLink]="[ '/admin' ]"
        routerLinkActive="route-active">
        <img src="../../../assets/user.svg" alt="">
    </div>
    <div (click)="basketToggle()" class="checkout">
        <img src="../../../assets/basket.svg" height="50px" alt="">
        <span class="checkout__count">{{total}}</span><span
            class="checkout__name"> грн</span>
        <div class="checkout__lenght">{{countBasket}}</div>

    </div>

</div>
<div class="shadow" *ngIf="openBasket"></div>
<div class="basket" *ngIf="openBasket">
    <div class="basket__product"
        *ngIf="basketArray.length> 0">
        <table>
            <tbody>
                <tr *ngFor="let product of basketArray">
                    <td class="basket__product__img">
                        <img [routerLink]="[ '/product/'+ product.category.path,
                            product.id ]"
                            (click)="basketToggle()"
                            [src]="product.imagePath" height="60px"
                            alt="product.name"></td>
                    <td [routerLink]="[ '/product/'+ product.category.path,
                        product.id ]"
                        (click)="basketToggle()">{{product.name}}</td>
                    <td>
                        <div class="basket__product__count">
                            <button (click)="productCount(product, true)"
                                class="basket__product__count__plus">+</button>
                            <span class="basket__product__count__num">{{product.count}}</span>
                            <button (click)="productCount(product, false)"
                                class="basket__product__count__min">-</button>
                        </div>

                    </td>
                    <td>{{product.count*product.price}} грн</td>
                    <td>🗑️ </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="basketArray.length <= 0" class="basket__zero">
        <img src="../../../assets/basketZero.svg" alt="ZERO">
        <h1 class="basket__zero__text">кошик порожній</h1>
        <button class="basket__zero__btn" [routerLink]="[ '/product/roli' ]"
            (click)="basketToggle()">Перейти до каталогу</button>
    </div>
    <div class="basket__order">
        <div class="basket__order__sum">
            <p>Cума: <span>{{total}}</span> грн</p>
        </div>
        <button (click)="order()" [disabled]="basketArray.length <= 0"
            type="button" class="basket__order__btn">Замовити</button>
    </div>

</div>
