@import "../../shared/styles/variables";
@import "../../shared/styles/base";

.header {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $body;
  z-index: 5;
}
.logo {
  width: 217px;
  height: 110px;
  padding: 0 22px;
  background-color: $mainCol;
  padding: 20px 10px;
}
.product {
  width: 30%;
  display: flex;
  justify-content: space-around;
  &__category {
    width: 80px;
    height: 80px;
    padding: 15px;
    border: 2px solid transparent;
    &:hover {
      @extend %border;
    }
  }
  &__category img {
    margin-left: 5px;
  }
}
.menu {
  font-size: 35px;
  width: 70px;
  height: 70px;
  position: relative;
  line-height: 70px;
  text-align: center;
  border: 2px solid transparent;
  &:hover {
    @extend %border;
  }
}
.header-menu {
  position: absolute;
  width: 250px;
  height: 260px;
  border: 2px solid $mainCol;
  border-radius: 5px;
  top: -15px;
  left: -25px;
  background-color: rgb(242, 246, 250);
  padding: 20px;
  &__close {
    width: 35px;
    height: 35px;
    margin: 0 0 30px 20px;
  }
  &__li a {
    text-decoration: none;
    color: $darkText;
    font-size: 15px;
    font-weight: bolder;
  }
  &__li {
    width: 90%;
    height: 40px;
    border: 1px solid transparent;
    line-height: 25px;
    text-align: start;
    padding-left: 10px;
    margin: 10px;
    &:hover {
      @extend %border;
    }
  }
}
.open-popup {
  width: 201px;
  height: 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 5px;
  border-radius: 5px;
  background-color: $mainCol;
  border: 3px solid $mainCol;
  &:hover {
    background-color: transparent;
  }
}
.header-phone {
  text-align: center;
  font-weight: bolder;
  color: $darkText;
  &__text {
    color: $lightText;
    font-weight: 200;
  }
  &__num:hover {
    color: $mainCol;
  }
}
.header-user {
  padding: 15px;
  width: 60px;
  height: 60px;
  border: 2px solid transparent;
  &:hover {
    @extend %border;
  }
}
.checkout {
  width: 154px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $mainCol;
  padding: 20px 10px;
  position: relative;
  &__count {
    font-weight: bolder;
    margin: 0 5px;
    font-size: 18px;
    color: $darkText;
  }
  &__name {
    font-weight: lighter;
    font-size: 18px;
  }
  &__lenght {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 12px;
    background-color: $white;
    top: 25px;
    left: 42px;
    text-align: center;
    line-height: 25px;
    color: $lightText;
  }
}
.shadow {
  width: 100%;
  position: fixed;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $darkShadow;
}
.basket {
  width: 700px;
  min-height: 200px;
  background-color: $white;
  border-radius: 0 0 0 15px;
  position: fixed;
  top: 110px;
  right: -15px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  &__product {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    tr {
      width: 100%;
      font-size: 20px;
      color: $darkText;
    }
    td {
      padding: 15px;
      height: 100px;
    }
    &__count {
      display: flex;
      &__plus {
        @extend %btn__plus;
      }
      &__num {
        @extend %btn__num;
      }
      &__min {
        @extend %btn__min;
      }
    }
    &__img {
      padding: 0;
    }
  }
  &__zero {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    &__text {
      text-align: center;
      font-size: 25px;
      font-weight: bolder;
      color: $darkText;
    }
    &__btn {
      @extend %btn__admin;
    }
  }
  &__order {
    width: 100%;
    height: 120px;
    padding: 35px;
    background-color: $mainCol;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__sum {
      color: $lightText;
      font-size: 19px;
      span {
        color: $darkText;
        font-size: 22px;
        font-weight: bolder;
      }
    }
    &__btn {
      @extend %btn__admin;
      border-radius: 10px;
      &:hover {
        border: 3px solid $white;
      }
    }
  }
}
